{% extends "base.html" %}
{% block content %}
<h2>About ByeHackers...</h2>
<hr>
	<p>ByeHackers is a spam filter tool.</p>
	<p>It provides protection and preventetion to all customers at the highest level possible.</p>
	<p>ByeHackers aim is to help stop the fight against spam.</p>
<hr>
	<p>ByeHackers uses Machine Learning algorithms to classify an email as spam or ham.</p>
	<p>The following Machine Learning algorithms are used:</p>

	<button class="button button1">Naive Bayes</button>
	<button class="button button1">Support Vector Machine</button>
	<button class="button button1">Random Forest</button>
	<button class="button button1">Logistic Regression</button>
<hr>

	<p><b>Naive Bayes</b></p>
	<p>NB algorithm is a supervised learning algorithm, which is based on Bayes theorem and used for solving classification problems</p>
<hr>
	<p><b>Support Vector Machine</b></p>
	<p>SVM is a supervised machine learning algorithm which can be used for both classification or regression challenges. However, it is mostly used in classification problems</p>
<hr>
	<p><b>Random Forest</b></p>
	<p>It is a flexible, easy to use machine learning algorithm that produces, a great result. It is also one of the most used algorithms, because of its simplicity and diversity as it can be used for both classification and regression tasks.</p>
<hr>
	<p><b>Logistic Regression</b></p>
	<p>The algorithm is used for the classification problems. It is a predictive analysis algorithm and based on the concept of probability.</p>
<hr>
{% endblock content %}